In [17]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [18]:
data = pd.read_csv('C:\\Users\\Dell\Downloads\\archive (12)\\Car Ownership.csv')
data.head()

,Occupation,Monthly Income,Credit Score,Years of Employment,Finance Status,Finance History,Car,Number of Children
0,Teacher,40000,750.0,10,Good,No issues,Yes,2
1,Engineer,60000,800.0,8,Good,No issues,Yes,1
2,Nurse,25000,650.0,5,Fair,Late payment 2 months ago,No,0
3,Doctor,80000,900.0,12,Excellent,No issues,Yes,3
4,Businessman,100000,700.0,15,Good,Late payment 6 months ago,Yes,2

In [19]:
X = data['Monthly Income']
y = data['Credit Score']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [22]:
rf_classifier.fit(X_train, y_train)

ValueError: could not convert string to float: '$12,000 '

In [12]:
X = data.drop('Monthly Income', axis=1)
X

,Occupation,Credit Score,Years of Employment,Finance Status,Finance History,Car,Number of Children
0,Teacher,750.0,10,Good,No issues,Yes,2
1,Engineer,800.0,8,Good,No issues,Yes,1
2,Nurse,650.0,5,Fair,Late payment 2 months ago,No,0
3,Doctor,900.0,12,Excellent,No issues,Yes,3
4,Businessman,700.0,15,Good,Late payment 6 months ago,Yes,2
...,...,...,...,...,...,...,...
495,Project Manager,730.0,5 years,Stable,No significant issues,Yes,0
496,Chef,680.0,4 years,Stable,No significant issues,Yes,0
497,Interior Designer,690.0,4 years,Stable,No significant issues,Yes,1
498,Medical Assistant,640.0,3 years,Stable,No significant issues,No,1
499,Customer Service Rep,641.0,4 years,Stable,No significant issues,No,2